
@media screen and (min-height:900px) and (max-height:1010px){
  .icon {
    width: 4em;
    height: 4em;
    fill: currentColor;
    overflow: hidden;
  }
}
@media screen and (min-height:500px) and (max-height:900px){
  .icon {
    width: 4em;
    height: 4em;
    fill: currentColor;
    overflow: hidden;
  }
}
.user-box{
  padding: 10px;
}
.flex-box{
  display: flex;
}
.margins{
  margin-left: 20px;
}
.w200{
  width: 200px;
  margin-right: 20px;
}
.table-box{
  margin: 20px 0;
}
.pagination{
  width: calc(100% - 5px);
  display: flex;
  justify-content: flex-end;
}
.fontBlue{
  color: rgb(64,158,255);
  cursor: pointer;
  margin-right: 20px;
}
.fontRed{
  color: rgb(245,108,108);
  cursor: pointer;
}